body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #004466;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #BAC9F6;
}

.martial {
    margin-top: 10%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    background-color: #cab287	;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #9d8854	;
    transform: translateY(-3px);
}

.box {
    background-color: #0F0F1B;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}