/* base css needs to be added */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* sidebar (most likely will use for all dashboards all n all)*/
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar .nav-link {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    transition: opacity 0.3s, background-color 0.3s;
}

.sidebar .nav-link.active {
    color: #333; 
}

.sidebar .nav-link.hidden {
    opacity: 0;
}

.sidebar .nav-link:hover {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

#sidebar-toggle {
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar-toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.sidebar-toggle-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
}

.sidebar.collapsed .sidebar-toggle-icon {
    transform: rotate(90deg);
}

.main-content {
    margin-left: 250px; /* Adj for sidebar */
    transition: margin-left 0.3s;
}

.main-content.collapsed {
    margin-left: 80px;
}

.leave-history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.leave-history-container .card {
    width: 100%;
    margin: auto;
}


/* CSS FOR DASHBOARD ONWARDS HERE DON'T F THIS UP IT TOOK TIME TO ORGANIZE */
/* Student Dashboard */


/* Professor Dashboard */


/* incharge css */


/* footer css */

footer {
    color: #BAC9F6;
}