/* index.html css or main css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;*/
    text-align: center;
}

/* Header styling here */
h1 {
    margin-top: 10%;
    font-family: cursive;
    font-size: 3rem;
    color: #AE445A;
}

.Hitman-header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Button animation for (Dean, professor, incharge, student) */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    background-color: #cab287;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #9d8854;
    transform: translateY(-3px);
}

.box .button-container {
    background-color: #0F0F1B;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Register button animation */
.bton {
    border: none;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background: #0F0F1B;
    padding: 1em 2em;
    font-family: sans-serif;
}
  
.reg {
    text-decoration: none;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    background: linear-gradient(-45deg, #2F3C7E, #FBEAEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.bton::after, .button::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      var(--rotate),
      #432E54 0%,
      #4B4376 30%,
      #AE445A 70%,
      #E8BCB9 100%
    );
    width: 105%;
    height: 110%;
    left: -2.5%;
    top: -5%;
    border-radius: 10px;
    z-index: -1;
    transition: --rotate 9999s linear;
}
  
.bton:hover::after, .bton:hover::before {
    --rotate: 3600deg;
    transition: --rotate 20s linear;
}
  
.bton:hover::before {
    animation: fade 1.2s;
}
  
@property --rotate {
    syntax: "<angle>";
    initial-value: 130deg;
    inherits: false;
}
  
@keyframes fade {
    0% {
      opacity: 1;
      transform: scale(1);
      filter: blur(10px);
}
  
100% {
      opacity: 0;
      transform: scale(1.4);
      filter: blur(10px);
    }
}

/* Login page css from here */

.login-container {
    background-color: #0F0F1B;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    margin-bottom: 20px;
    color: #BAC9F6;
}

.login-container label {
    display: block;
    color: #BAC9F6;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    color: #BAC9F6;
    background-color: rgba(95, 82, 116, 0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #cab287;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #9d8854;
}

/* CSS for register.html */
.register-container {
    background-color: #0F0F1B;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
    margin-bottom: 20px;
    color: #BAC9F6;
}

.register-container label {
    display: block;
    color: #BAC9F6;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-container input, .register-container select {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    color: #BAC9F6;
    background-color: rgba(95, 82, 116, 0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container select option {
    background-color: rgba(95, 82, 116, 0.2);
    color: #BAC9F6;
}

.register-container button {
    background-color: #cab287;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #9d8854;
}

/* footer css */

footer {
    color: #BAC9F6;
}
