{% extends "index.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="forgot-password-container">
    <h2> Forgot Password </h2>
    <form method="POST" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" class="form-forgot-password" required id="id_email">
        </div>
        <button type="submit"> Send OTP </button>
    </form>
</div>
{% endblock %}