{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}College Leave Management System{% endblock %}</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Link to JavaScript -->
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body class="martial">
    <div class="dig-clock">
        <div class="clock">
          <div id="time" class="time"></div>
        </div>
    </div>

    {% block content %}
    <div class="leave-head">
        <div>
            <h1>Leave Management System</h1>
        </div>
    </div>
    
    <div class="box">
        <div>
            <button class = "bton">
                <a href ="{% url 'register' %}" class="reg">Register</a>
            </button>
        </div>
        <div class="button-container">
            <a href="{% url 'login' %}?role=Professor" class="btn">Professor</a>
            <a href="{% url 'login' %}?role=Incharge" class="btn">Incharge</a>
            <a href="{% url 'login' %}?role=Dean" class="btn">Dean</a>
            <a href="{% url 'login' %}?role=Student" class="btn">Student</a>
        </div>
    </div>
    {% endblock %}

    <footer>
        <p>&copy; 2024 Leave Management System. All rights reserved.</p>
    </footer>
    <script>
        function updateClock() {
            const date = new Date();
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            const seconds = String(date.getSeconds()).padStart(2, '0');
          
            const timeElement = document.getElementById("time");
            timeElement.textContent = `${hours}:${minutes}:${seconds}`;
        }
          
        setInterval(updateClock, 1000);
    </script>
    
</body>
</html>