{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}College Leave Management System{% endblock %}</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Link to JavaScript -->
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body class="martial">
    {% block content %}
    <h1>Leave Management System</h1>
    
    <div class="box">
        <div>
            <a href ="{% url 'register' %}" class="btn">Register</a>
        </div>
        <div class="button-container">
            <a href="{% url 'login' %}" class="btn">Professor</a>
            <a href="{% url 'login' %}" class="btn">Incharge</a>
            <a href="{% url 'login' %}" class="btn">Dean</a>
            <a href="{% url 'login' %}" class="btn">Student</a>
        </div>
    </div>
    {% endblock %}

    <footer>
        <p>&copy; 2024 Leave Management System. All rights reserved.</p>
    </footer>
</body>
</html>
