def reset_password(request):
    if request.method == 'POST':
        otp = request.POST.get('reset_token')
        new_password = request.POST.get('new_password')
        confirm_password = request.POST.get('confirm_password')
        email = request.POST.get('email')

        if new_password != confirm_password:
            return JsonResponse({'success': False, 'error': 'Passwords do not match.'})

        if not re.match(r'^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,}$', new_password):
            return JsonResponse({'success': False, 'error': 'Password must contain at least one digit, one lowercase letter, one uppercase letter, one special character, and be at least 8 characters long.'})

        try:
            user = User.objects.get(email=email)
            otp_instance = OTPVerification.objects.filter(user=user, verified=False).first()

            if otp_instance and str(otp_instance.otp) == str(otp) and otp_instance.expires_at > timezone.now():
                user.set_password(new_password)
                user.save()
                otp_instance.verified = True  # Mark OTP as used
                otp_instance.save()
                return JsonResponse({'success': True})
            else:
                return JsonResponse({'success': False, 'error': 'Invalid or Expired OTP.'})
        except User.DoesNotExist:
            return JsonResponse({'success': False, 'error': 'User not found.'})

    return render(request, 'reset_password.html')