{% extends "base.html" %}
{% load static %}
{% block title %}Student Dashboard{% endblock %}

{% block sidebar %}
<div class="sidenav">
    <a href="{% url 'dashboard_student' %}">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
    </a>
    <a href="{% url 'student_profile' %}">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="text">Profile</span>
    </a>
    <a href="{% url 'student_form' %}">
        <span class="icon"><i class="fa-solid fa-file"></i></span>
        <span class="text">Leave form</span>
    </a>
    <a href="#">
        <span class="icon"><i class="fa-solid fa-clock-rotate-left"></i></span>
        <span class="text">Leave history</span>
    </a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="logout-btn">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="text">Logout</span>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    
</div>

<script>
    
</script>

{% endblock %}
