{% extends "base.html" %}
{% load static %}
{% block title %}Student Dashboard{% endblock %}

{% block sidebar %}
<div class="sidenav">
    <a href="{% url 'dashboard_student' %}">
        <span class="icon">
            <img src="{% static 'svg/house-solid.svg' %}" style="width: 1.2em; height: 1.2em;">
        </span>
        <span class="text">Home</span>
    </a>
    <a href="{% url 'student_profile' %}">
        <span class="icon">
            <img src="{% static 'svg/user-solid.svg' %}" style="width: 1.2em; height: 1.2em;">
        </span>
        <span class="text">Profile</span>
    </a>
    <a href="{% url 'student_form' %}">
        <span class="icon">
            <img src="{% static 'svg/file-solid.svg' %}" style="width: 1.2em; height: 1.2em;">
        </span>
        <span class="text">Form</span>
    </a>
    <a href="{% url 'student_history' %}">
        <span class="icon">
            <img src="{% static 'svg/clock-rotate-left-solid.svg' %}" style="width: 1.2em; height: 1.2em;">
        </span>
        <span class="text">History</span>
    </a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="logout-btn">
            <span class="icon">
                <img src="{% static 'svg/right-from-bracket-solid.svg' %}" style="width: 1.2em; height: 1.2em;">
            </span>
            <span class="text">Logout</span>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="main-content" style="margin-bottom: 13%;">
    <div class="std-profile-container">
        <h2 style="text-align: center; margin-bottom: 3rem;">Your Profile</h2>
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <div style="flex: 1;">
                <p style="margin-bottom: 1.5rem;"><strong>Name:</strong> {{ user.full_name }}</p>
                <p style="margin-bottom: 1.5rem;"><strong>Username:</strong> {{ user.username }}</p>
                <p style="margin-bottom: 1.5rem;"><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>
</div>

<script>

</script>

{% endblock %}
