{% extends "base.html" %}
{% load static %}
{% block title %}Student Dashboard{% endblock %}

{% block sidebar %}
<div class="sidenav">
    <a href="{% url 'dashboard_student' %}">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
    </a>
    <a href="{% url 'student_profile' %}">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="text">Profile</span>
    </a>
    <a href="{% url 'student_form' %}">
        <span class="icon"><i class="fa-solid fa-file"></i></span>
        <span class="text">Form</span>
    </a>
    <a href="#">
        <span class="icon"><i class="fa-solid fa-clock-rotate-left"></i></span>
        <span class="text">History</span>
    </a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="logout-btn">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="text">Logout</span>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="std-profile-container">
        <h2 class="std-profile-title">Update Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="std-profile-group">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" class="std-profile-input" value="{{ student.name }}" required>
            </div>
            <div class="std-profile-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="std-profile-input" value="{{ student.email }}" required>
            </div>
            <div class="std-profile-group">
                <label for="roll_number">Roll Number</label>
                <input type="text" name="roll_number" id="roll_number" class="std-profile-input" value="{{ student.roll_number }}" required>
            </div>
            <div class="std-profile-group">
                <label for="department">Department</label>
                <input type="text" name="department" id="department" class="std-profile-input" value="{{ student.department }}" required>
            </div>
            <div class="std-profile-group">
                <label for="profile_pic">Profile Picture</label><br>
                {% if student.profile_pic %}
                    <img src="{{ student.profile_pic.url }}" alt="Profile Picture" class="std-profile-img">
                {% endif %}
                <input type="file" name="profile_pic" id="profile_pic" class="std-profile-file">
            </div>
            <div class="std-profile-submit">
                <button type="submit" class="std-profile-btn">Update</button>
            </div>
        </form>
    </div>
</div>

<script>
    
</script>

{% endblock %}
